<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <main th:fragment="main" class="main-content">
        <section id="aboutme">
            <h2 class="main-title">Giới Thiệu Về Tôi</h2>
            <p>Tôi là TranKimQuang, một lập trình viên đam mê công nghệ và thiết kế web.</p>
            <div class="about-details">
                <h3>Thông tin cá nhân</h3>
                <ul>
                    <li><strong>Họ và tên:</strong> Trần Kim Quang</li>
                    <li><strong>Nghề nghiệp:</strong> Lập trình viên</li>
                    <li><strong>Sở thích:</strong> Lập trình, thiết kế, và du lịch</li>
                </ul>
            </div>
            <div class="image-container">
                <img src="/Images/f2.jpg" alt="Hình ảnh cá nhân">
            </div>
        </section>
    </main>
</body>
</html>
