<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="header">
        <div class="header-content">
            <h1 class="header-title">Trang Web của Quang nè</h1>
            <nav class="nav-menu">
                <ul>
                    <li><a href="#home">Trang chủ</a></li>
                    <li><a href="#about">Giới thiệu</a></li>
                    <li><a href="#contact">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>