<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="dashboard-admin">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <h3>Chào mừng đến trang Dashboard!</h3>

        <div class="row mt-4" th:if="${requestURI.startsWith('/superadmin')}">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tổng số người dùng</h5>
                        <p class="card-text" th:text="${userCount}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tổng số khoa</h5>
                        <p class="card-text" th:text="${facultyCount}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>