<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title + ' - FitCMS Blog'}">FitCMS Blog</title>
</head>
<body>
    <!-- Header -->
    <div th:replace="layout/header :: header"></div>

    <div id="layoutSidenav">
        <!-- Sidebar -->
        <div th:replace="layout/sidebar :: sidebar"></div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- Nội dung chính -->
                    <div th:if="${content}" th:insert="${content}"></div>
                    <div th:unless="${content}">
                        <p>No content available.</p>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <div th:replace="layout/footer :: footer"></div>
        </div>
    </div>
</body>
</html>
