<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="${title} + ' - FitCMS Blog'">FitCMS Blog</title>
</head>
<body>
    <!-- Header -->
    <div th:replace="~{layout/header :: body}"></div>

    <div id="layoutSidenav">
        <!-- Sidebar -->
        <div th:replace="~{layout/sidebar :: div}"></div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- Nội dung chính sẽ được thay thế tại đây -->
                    <div th:if="${content != null}" th:insert="${content}"></div>
                    <div th:if="${content == null}">
                        <p>No content available.</p>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <div th:replace="~{layout/footer :: footer}"></div>
        </div>
    </div>
</body>
</html>