<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Pages</div>
                <a class="nav-link" href="/pages/list">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    Page List
                </a>
                <a class="nav-link" href="/pages/add">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                    Page Add New
                </a>
                <div class="sb-sidenav-menu-heading">Posts</div>
                <a class="nav-link" href="/posts/list">
                    <div class="sb-nav-link-icon"><i class="fas fa-blog"></i></div>
                    Post List
                </a>
                <a class="nav-link" href="/posts/add">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                    Post Add New
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>