<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modern Web</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div th:replace="~{Layout/header :: header}"></div>

        <!-- Sidebar và Main -->
        <div class="content-wrapper">
            <div th:replace="~{Layout/sidebar :: sidebar}"></div>
            <div th:replace="~{Layout/main_layout :: main}"></div>
        </div>

        <!-- Footer -->
        <div th:replace="~{Layout/footer :: footer}"></div>
    </div>
</body>
</html>