<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header class="header" th:fragment="header">
    <div class="header-left-section"> <div class="header-logo">
        <a href="/user/exams">
            <img th:src="@{/logo/logo1.png}" alt="EduQuiz Logo">
        </a>
    </div>
        <div class="header-nav-item">
            <a class="nav-link" th:href="@{/admin/exams}"><i class="fas fa-list-alt"></i> Quản lý kỳ thi</a>
        </div>
    </div>

    <div class="search-container">
        <form th:action="@{/user/exams/search}" method="get">
            <input type="text" name="keyword" placeholder="Tìm kiếm kỳ thi..." th:value="${keyword}">
            <button type="submit">Tìm kiếm</button>
        </form>
    </div>
</header>
</body>
</html>