<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="header">
        <div class="header-content">
            <div class="image-container">
                <img src="/Images/hinh1.jpg" alt="Hình ảnh mẫu">
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/studentList">List</a></li>
                    <li><a href="/addNew">Add New</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>