<div th:fragment="content">
    <h2>Welcome to Faculty NTU CMS</h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Faculties</h5>
                    <p class="card-text" th:text="${facultyCount}">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text" th:text="${userCount}">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <p class="card-text" th:text="${postCount}">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                    <p class="card-text" th:text="${notificationCount}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>